* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

button, input[type="submite"] {
  cursor: pointer;
  background: none;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #323232;
  line-height: 1.687;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container--fluid {
  width: 100%;
}

.nav {
  padding-top: 35px;
  padding-bottom: 33px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}
.logo img {
  padding-right: 5px;
}

.navigation ul {
  display: flex;
}
.navigation li:not(:last-child) {
  margin-right: 42px;
}
.navigation a:hover {
  color: #f78434;
  transition: all 0.3s;
}
.navigation a.active {
  color: #f78434;
  font-weight: 700;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  margin-bottom: 25px;
  font-size: 54px;
  font-weight: 700;
  line-height: 1.46;
  margin-right: -150px;
  position: relative;
  z-index: 9;
}
.header__text p {
  line-height: 1.687;
  margin-bottom: 1em;
  width: 465px;
}
.header__form {
  margin-top: 42px;
}
.header__img img {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
}

.form {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  height: 58px;
  width: 500px;
  transition: box-shadow 0.2s ease-in;
}
.form--active {
  box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.27);
}
.form__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 72px;
  height: 100%;
  flex-grow: 1;
}
.form__label::before {
  position: absolute;
  top: 20px;
  left: 28px;
  content: '';
  display: block;
  width: 24px;
  height: 19px;
  background-image: url("./../img/icons/mail.svg");
  background-size: initial;
}

.form__input {
  margin-right: 10px;
  flex-grow: 1;
}
.form__input ::placeholder {
  color: #bbb;
}

.button {
  display: inline-block;
  height: 58px;
  padding-left: 37px;
  padding-right: 37px;
  border-radius: 29px;
  background-color: #f78434;
  line-height: 58px;
  font-weight: 700;
  color: #fff;
}
.button:hover {
  background-color: #ff6a00;
  transition: all 0.1s ease-in;
  transform: scale(1.01);
}
.button--white {
  background-color: #ffffff;
  color: #323232;
  transition: all 0.2s ease-in;
}
.button--white:hover {
  background-color: #323232;
  color: #fff;
}
.button--text-orange {
  color: #f78434;
}
.button--play {
  padding-left: 50px;
  position: relative;
}
.button--play::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("./../img/cta/play.svg");
  background-size: initial;
  background-repeat: no-repeat;
  position: absolute;
  left: 30px;
  top: 23px;
}

.clients {
  padding-top: 100px;
  padding-bottom: 91px;
}

.clients__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.objects {
  padding-bottom: 80px;
}

.objects__row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.objects__text {
  max-width: 543px;
  padding-left: 130px;
  flex-shrink: 0;
}
.objects__text p + p {
  margin-top: 20px;
}

.objects__title {
  margin-bottom: 20px;
}

.objects__button {
  margin-top: 40px;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.476;
  letter-spacing: 0.8px;
}

.img-card {
  position: relative;
}

.objects__img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 32px;
  margin-left: -160px;
}

.img-card__img {
  border-radius: 20px 20px 0 20px;
}

.img-card__img1 {
  border-radius: 20px;
}

.img-card__info {
  position: absolute;
  right: -46px;
  bottom: 87px;
}

.card-info {
  display: flex;
  align-items: center;
  padding: 30px;
  background: #ffffff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  max-width: 300px;
}

.card-info__icon {
  margin-right: 20px;
}

.card-info__text p {
  letter-spacing: 1.15px;
}

.card-info__title {
  font-weight: 700;
  letter-spacing: 0.8px;
}

.cta {
  padding-top: 70px;
  padding-bottom: 70px;
}

.cta__block {
  display: flex;
  justify-content: space-between;
  background-color: #58BEBF;
  border-radius: 20px;
  color: #ffffff;
}

.cta__img {
  padding-top: 60px;
}
.cta__img img {
  border: solid 20px #ffffff;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 20px;
  margin-bottom: -9px;
}

.cta__text {
  width: 555px;
  box-sizing: border-box;
  padding-right: 90px;
  padding-top: 90px;
  background: url("./../img/cta/Oval-bottom-center.svg") bottom left -170px no-repeat, url("./../img/cta/Oval-top-right.svg") right top no-repeat;
  padding-left: 96px;
}
.cta__text p {
  letter-spacing: 1.15px;
}

.cta__title {
  margin-bottom: 15px;
  letter-spacing: 0.8px;
}

.cta__buttons-row {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.serve {
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
}
.serve::before {
  content: '';
  display: block;
  width: 100%;
  height: 650px;
  background-color: #F5F6FA;
  position: absolute;
  top: -50%;
  left: 0;
  z-index: -1;
}

.serve__heading {
  text-align: center;
  padding-bottom: 10px;
}
.serve__heading p {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
}

.serve__row {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.card-customer {
  text-align: center;
  width: 47%;
  border-radius: 10px;
  background-color: #fff;
  padding-bottom: 40px;
  transition: all 0.3s ease-in;
  padding-top: 40px;
}
.card-customer__icon {
  transition: fill 0.3s ease-in;
  fill: #F78434;
}
.card-customer:hover {
  background-color: #f78434;
  color: white;
}
.card-customer:hover .card-customer__icon {
  fill: #fff;
}
.card-customer__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 63px;
  letter-spacing: 0.8px;
  text-align: center;
}
.card-customer p {
  width: 364px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1.15px;
  padding-bottom: 25px;
}

.benefits {
  padding-top: 13px;
  padding-bottom: 100px;
}
.benefits__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}
.benefits__icons {
  fill: #58BEBF;
  transition: all 0.15s ease-in;
}
.benefits__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.benefits__card {
  padding-top: 50px;
  padding-bottom: 30px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.15s ease-in;
}
.benefits__card:hover {
  background-color: #F5F6FA;
  transform: scale(1.06);
}
.benefits__card:hover .benefits__icons {
  fill: #f78434;
  transform: scale(1.2);
}
.benefits__card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1.15px;
}
.benefits__title {
  padding-top: 15px;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
}

.testimonials {
  padding-top: 60px;
  padding-bottom: 60px;
}

.testimonials__text {
  display: flex;
  align-items: center;
  padding-bottom: 58px;
}
.testimonials__text p {
  padding-left: 20%;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #606060;
}

.testimonials__cards {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials__cards::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  right: -40px;
  top: -40px;
  background-image: url("./../img/testimonials/Shape.svg");
  background-repeat: no-repeat;
  opacity: 1;
}

.testimonials__card-img {
  position: relative;
}
.testimonials__card-img-play {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transform: translateY(50%);
  transition: transform 0.15s ease-in, opacity 0.15s ease-in;
}

.testimonials__card {
  cursor: pointer;
  border-radius: 5px;
  width: 350px;
  transition: all 0.2s ease-in;
}
.testimonials__card img {
  padding-bottom: 50px;
}
.testimonials__card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 12px 52px rgba(100, 0, 0, 0.1);
}
.testimonials__card:hover .testimonials__card-country {
  color: #f78434;
}
.testimonials__card:hover .testimonials__card-img-play {
  opacity: 1;
  transform: translateY(0);
}

.testimonials__card-text p {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #323232;
}

.testimonials__card-author {
  padding-left: 30px;
  padding-bottom: 1px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.6px;
  color: #323232;
}

.testimonials__card-country {
  padding-left: 30px;
  padding-bottom: 31px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #58BEBF;
  transition: color 0.2s ease-in;
}

.contacts {
  position: relative;
  padding-top: 200px;
  margin-bottom: 96px;
  background-image: url("./../img/contacts/Bg.svg");
  background-size: cover;
  padding-bottom: 55px;
}
.contacts::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 743px;
  height: 371px;
  background-image: url("./../img/contacts/Oval-bg.svg");
  background-size: cover;
}
.contacts::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 53%;
  width: 478px;
  height: 547px;
  background-image: url("./../img/contacts/girl.png");
  background-size: cover;
}

.contacts__info {
  max-width: 360px;
}
.contacts__info .contact__title {
  padding-bottom: 15px;
  color: #fff;
}
.contacts__info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #FFFFFF;
  padding-bottom: 30px;
  max-width: 342px;
}

.footer {
  padding-bottom: 82px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__info p {
  padding-top: 15px;
  padding-bottom: 40px;
  max-width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #323232;
}
.footer__info img {
  transition: all 0.15s ease-in;
}

.footer__social {
  display: flex;
  width: 185px;
  justify-content: space-between;
  align-items: center;
}
.footer__social a:hover img {
  opacity: 0.7;
  transform: scale(1.2);
}

.footer__nav {
  display: flex;
  column-gap: 85px;
  justify-content: space-between;
}

.footer__nav-block {
  font-size: 14px;
}
.footer__nav-block li {
  line-height: 27px;
  letter-spacing: 0.5px;
  color: #323232;
  padding-bottom: 13px;
}
.footer__nav-block a:hover {
  color: #f78434;
}

.footer__nav-block-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: #323232;
  padding-bottom: 18px;
}

/*# sourceMappingURL=main.css.map */
