.footer {
    padding-bottom: 82px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer__info {
    p {
        padding-top: 15px;
        padding-bottom: 40px;
        max-width: 300px;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        
        letter-spacing: 1.15px;
        
        color: #323232
    }

    img {
        transition: all 0.15s ease-in;
    }
}

.footer__social {
    display: flex;
    width: 185px;
    justify-content: space-between;
    align-items: center;

    a:hover img{
        opacity: 0.7;
        transform: scale(1.2);
    }
}

.footer__nav {
    display: flex;
    column-gap: 85px;
    justify-content: space-between;
}

.footer__nav-block {
    font-size: 14px;

    li{
        line-height: 27px;
        letter-spacing: 0.5px;
        
        color: #323232;
        padding-bottom: 13px;
    }
    a:hover {
        color: $accent-color;
    }
}

.footer__nav-block-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    
    letter-spacing: 0.5px;
    
    color: #323232;
    padding-bottom: 18px;
}