.header {

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        margin-bottom: 25px;
        font-size: 54px;
        font-weight: 700;
        line-height: 1.46;
        margin-right: -150px;
        position: relative;
        z-index: 9;
    }

    &__text p {
        line-height: 1.687;
        margin-bottom: 1em;
        width: 465px;
    }

    &__form {
        margin-top: 42px;
    }

    &__img img {
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        border-top-left-radius: 40px;
    }
}
