.img-card {
    position: relative;
}
.objects__img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 32px;
    margin-left: -160px;
    
}

.img-card__img {
    border-radius: 20px 20px 0 20px;
}

.img-card__img1 {
    border-radius: 20px;
}
.img-card__info {
    position: absolute;
    right: -46px;
    bottom: 87px;
}